.productGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  // .wrapper {
  //   width: 80%;
  //   display: flex;
  //   gap: 20px;
  //   flex-wrap: wrap;
  // }
}
